# Files
*.txt
*.pdf
*.html
*.sh
*.pdf
*.o
*.tgz
*.js
*.css
*.gif
*.png
*.jpeg
*.ppm
.cache.mk

# Directories
ex0/
exam1/
exam2/
testing/
.vscode/
graphics/
#rpi-os/

# Executables
ex1a/myexpand
ex1b/server
ex1b/client
ex2/forkFFT
ex3/generator
ex3/supervisor
