# Files
*.txt
*.pdf
*.html
*.sh
*.pdf
*.o
*.tgz
*.js
*.css
*.gif
*.png
*.jpeg
*.ppm
.cache.mk

# Directories
ex0/
exam1/
exam2/
testing/
.vscode/
graphics/

# Executables
ex3/generator
ex3/supervisor
