# Files
*.tgz
*.o
*.txt
*.js
*.css
*.gif
*.jpeg
*.jpg
*.html
*.sh
*.txt
*.pdf

# Directories
ex0/
exam1/
testing/
.vscode/
bin/

# Executables
./personal/fork_test
./personal/b64
./ex3/src/run.sh
./ex1b/run_test.sh
